@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #041562;
}
#select-pet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
    font-size: 32px;
}
.subtitle {
    color: white;
    font-size: 20px;
}
.cards {
    display: flex;
    gap: 10px;
}
.select-pet-label {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    width: 180px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.select-pet-label img {
    width: 80px;
}
.select-pet-label:hover {
    cursor: pointer;
}
#button-pet {
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
}
#button-pet:hover {
    cursor: pointer;
}
input {
    display: none;
}