@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Poppins:wght@300&display=swap');

@media only screen and (max-width: 400px) {
    .cards, .cards-attacks {
        flex-direction: column;
    }
    .title {
        margin: 0px;
    }
    .subtitle {
        margin: 5px;
    }
    #messages {
        width: 100px;
    }
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #041562;
}
#select-pet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
    font-size: 32px;
}
.subtitle {
    color: white;
    font-size: 20px;
}
.cards, .cards-attacks {
    display: flex;
    gap: 10px;
}
.select-pet-label {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    width: 180px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.select-pet-label img {
    width: 80px;
}
.select-pet-label:hover {
    cursor: pointer;
}
#button-pet {
    font-family: 'Poppins', sans-serif;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
}
#button-pet:hover {
    cursor: pointer;
}
input {
    display: none;
}

#select-attack {
    /* display: flex; definido en JS */
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-attacks {
    font-family: 'Poppins', sans-serif;
    margin: 0px 10px 0px 10px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
}
.button-attacks:nth-child(1) {
    color: #b2e2f2;
    border: 2px solid #b2e2f2;
}
.button-attacks:nth-child(2) {
    color: #8cfca4;
    border: 2px solid #8cfca4;
}
.button-attacks:nth-child(3) {
    color: #ff6565;
    border: 2px solid #ff6565;
}
#scores {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
}
#restart {
    display: flex;
    justify-content: center
}
#button-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid white;
    color: white
}
.attack-list {
    display: grid;
    grid-template-columns: 200px 200px;
}
.player-attacks, .enemy-attacks {
    display: flex;
    flex-direction: column;
    align-items: center;
}